
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .nav ul {
    display: flex;
    gap: 1rem;
  list-style: none;
}

.collection {
    display: flex;
    justify-content: space-between;
}

span {
    font-size: 12px;
}


* {
    /* border: 1px dashed green; */
}